html {
  width:  100%;
  height: 100%;
  margin: 0;
  background-color: #F6F6F6;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.row {
  width: 8vw;
  position: fixed;
}

.image {
  height: 8vw;
  width: 100%;
  height: 8vw;
  float: left; background-image: url(1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.zoomViewport {
  overflow-x: hidden;
}